body {
	margin: 0;
	font-family: 'Montserrar', sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

hr {	
display: block;	
width: 100%;
height: 1px;
margin: 40px 0;

 border: 0;
 background-color: #e5e5e5;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url("../img/intro.jpg") center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
}
// my first commit via GUI
.intro_inner{
	width: 100%;
	max-width: 0 auto;
	margin: 0 auto;

	text-align: center;
}
.intro_title {
	color: #fff;
	front-size: 150px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;	

}

.intro_title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 60px auto;

	background: #fff;


}
.intro_suptitle {
	margin-bottom: 20px;
	font-size: 72px;
	color: #fff;
	text-align: center;
	font-family: 'Kaushan Script';

}

.header {
    width: 100%;
    padding-top: 30px;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_Logo {
	font-size: 30px;
	font-weight: 700;
	color: #fff;

}
.nav {
	font-size: 14px;
	text-transform: uppercase;
}
.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;

	color: #fff;
	text-decoration: none;
	transition: color .1s linear;
}
.nav_link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
    display: none;

	background-color: #fce38a;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transition: opacity .1s linear;

}
.nav_link:hover {
	color: #fce38a;

}
.nav_link:hover:after,
 .nav_link.active:after {
	display: block;
	opacity: 1;
}
.nav_link.active {	
	color: #fce38a;

}
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 8px 30px;
	font-size: 14px;
	font-weight: 700;

	border:  3px solid #fff;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;

}
.btn:hover {
	background-color: #fff;
	color: #333;

	transition: background .1s linear, color .1s linear;

}
.slider {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;

}
.slider_inner {
	display: flex;
	justify-content: space-between;
	


}
.slider_item {
	width: 23%;
	padding: 20px 0;
	position: relative;


	border-top: 3px solid #fff;
	opacity: .7;
	font-size: 18px;
    
	color: #fff;
	text-transform: uppercase;
}
.slider_number {
	font-size: 24px;
	font-weight: 700;
}
.slider_item.active {
	opacity: 1;
}
.slider_item.active:before {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #f38181;

	position: absolute;
	top: -3px;
	left: 0;
	z-index: 1;
}
.section {
	padding: 80px 0;
}

.section--devices {
	margin-bottom: 120px;
	padding-bottom: 0;
	background: 
	url("../img/bg.jpg");
	content: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}

.section--gray {
	background-color: #f8f8f8;
}

.section_header {
	width: 100%;
	max-width: 950px;
	margin: 0 auto 50px;
	text-align: center;

}


.section_suptitle {
	font-family: 'Kaushan Script' cursive;
	font-size: 24px;
	color: #333;

}

.section_title {
	font-size:30px ;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}
.section_title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 30px auto;

background-color: #f38181;

}
.section_text {
	font-size: 15px;
	color: #999;
}

.card {
	margin: 80px;
	display: flex;
	justify-content: space-between;
}
.card_item {
	width: 380px;
	position: relative;
	margin: 20px;
}

.card_inner {
	background-color: #95e1d3;
	position: relative;
}

.card_item:hover .card_img {
	transform: translate3d(-10px, -10px, 0px);

}
.card_item:hover .card_img img {
	opacity: .1;

}
.card_item:hover .card_text {
	opacity: 1;

}

.card_img {

	background: linear-gradient(to bottom, #f38181, #fce38a);
	transition: transform .2s linear;
}
.card_img img {
	display: block;
	transition: opacity .1s;
	max-width: 100%;
}
.card_text {
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	opacity: 0;

	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, -50%, 0);
	transition: opacity .2s linear;

}
.statistics {
	background-color: #95e1d3;
}
.stat {
	display: flex;

}
.stat_item {
	flex: 1 1 0;
	border-left: 1px solid #b5eae0;
	padding: 70px 25px;

	text-align: center;
	color: #fff;
}
.stat_item:last-child {
	border-right: 1px solid #b5eae0;

}
.stat_count {
	margin-bottom: 10px;
	font-size: 72px;
	font-weight: 700;
	line-height: 1;
}

.stat_text {
	font-size: 14px;
	text-transform: uppercase;
}
.services {
	display: flex;
}
.services_item {
	flex: 1 1 0;
	padding-left: 90px;
	padding-right: 20px;
	position: relative;
}
.services_icon {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.services_titel {
	margin-bottom: 10px;

	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}
.services_text {
	font-size: 15px;
	color: #999;

}
.devices {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;

}
.devices_item {
	display: block;
}
.devices_item--iphone {
	position: absolute;
	bottom: -50px;
	right: 0;
	z-index: 1;

}
.wedo {
	display: flex;
}
.wedo_item {
	width: 50%;
}
.accordion_item {
	margin-bottom: 10px;
	border: 1px solid #e5e5e5;
} 

.accordion_item.active 
.accordion_content {
	display: block;

}

.accordion_item.active
.according_header {
	border-bottom-color: 1px solid #e5e5e5;

}

.accordion_item.active
.according_header:after {
	transform: translateY(-50%)
	rotate(-45deg);
	margin-top: 5px;

}
.accordion_header {
	padding: 15px 20px 15px 65px;
	position: relative;

	border-bottom: 1px solid transparent;
	cursor: pointer;
}
.accordion_header:after{
	content: "";
	display: block;
	width: 16px;
	height: 16px;

	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	position: absolute;
	top: 50%;
	right: 20px;
	z-index: 1;

	transform: translateY(-50%)
	rotate(135deg);

}
.accordion_icon {
	position: absolute;
	top: 50%;
	left: 10px;
	z-index: 1;
	transform: translateY(-50%);

}
.accordion_content {
	padding: 15px 20px;
	display: none;


	font-size: 15px;
	color: #999;
	font-style: italic;
	font-weight: 300;
}
.accordion_title {
	font-size: 14px;
	color: #333;
	text-transform: uppercase;

}


.reviews {
	padding: 0 110px ;
	position: relative;
}
.reviews_item {
	padding-left: 205px;
	position: relative;

}
.reviews_photo {
	border: 2px solid #95e1d3;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.reviews_text {
	font-size: 24px;
	font-style: italic;
	font-weight: 300;
	color: #999;

}

.reviews_author {
	font-family: 'Kaushan Script' cursive;
	font-size: 24px;
	color: #333;
}
.reviews_author:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 3px;
	margin-right: 10px;

	background-color: #f38181;
}
.reviews_btn {
	font-size: 0;
	color: transparent;

	position: absolute;
	top: 50%;
	z-index: 1;
	transform: translateY(-50%);

}
.reviews_btn:after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;

	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	

}
.reviews_btn--prev {
	left: 0;
	transform: rotate(-45deg);
}
.reviews_btn--next {
	right: 0;
	transform: rotate(135deg);
}